*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #573b79;
    text-align: center;
}
h1{
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    color: #971c32;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 20px 20px 60px #00000098;
    font-size: 10vmin;
    color: #3b0c1c;
    background-color: #da70d8;
}
#reset{
    padding: 1rem;
    font-family: "Kalam", cursive;
    font-size: 1.25rem;
    background-color: #71238b;
    color: antiquewhite;
    border-radius: 50rem;
    border: none;
    box-shadow: 20px 20px 60px #00000098;
}
.win-msg{
    font-family: "Kalam", cursive;
    font-size: 10vmin;
    color: #dd016c;
    height: 30vmin;
}
.hide{
    display: none;
}